@media (max-width: 767px) {
  .aboutHead {
    display: block;
  }
  .ai1 {
    width: 160px;
    height: 280px;
    flex-shrink: 0;
  }
  .ai2 {
    width: 160px;
    height: 180px;
    padding: 0 0 0.5rem 0.5rem;
  }
  .ai3 {
    width: 160px;
    height: 110px;
    padding: 0 0 0.5rem 0.5rem;
  }
}
