@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@media (min-width: 767px) {
  .contactFlexContainer {
    width: 120%;
  }
  .contactCraft {
    font-family: "Montserrat", sans-serif;
  }
  .contactHelpYou {
    font-weight: 400;
  }
  .contactChecks {
    font-family: "Montserrat", sans-serif;

    font-weight: 300;
  }
  .contactFields {
    font-size: large;
    margin-bottom: 20px;
  }
  .contactFields input {
    margin-bottom: 15px;
  }
  .contactFields input::placeholder {
    padding-left: -5px;
  }
  .msgContact {
    margin-bottom: 5px !important;
  }
}
.contactFlexContainer {
  display: flex !important;
  background-color: transparent;
  height: 100vh;
  /* width: 120%; */
  align-items: center !important;
}
.contactCircles {
  width: 1000px;
}
.contactFields input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid gray;
  width: 300px;
}

.checkItem input {
  margin-right: 7px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 8px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: #ffd805;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: black;
  color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveBottom 5s ease-out;
  animation-fill-mode: backwards;
}
.btn:focus {
  outline: 0;
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 767px) {
  .circles {
    display: none;
  }
  .contactForm {
    text-align: center;
  }
  .contactHelpYou {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .contactChecks {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: 20px;
  }
  .contactFields {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.25rem;
  }
  .btn {
    margin-top: 1rem;
  }
}
