.particleContainer {
  position: absolute;
  height: screen;
  width: screen;
  overflow: hidden !important;
}

#homeTs {
  position: absolute;
  height: screen;
  width: screen;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 0;
}
.homeText {
  position: absolute;
}

.logoHomeDark {
  text-align: center;
  z-index: 20;
}
.logoHomeDark img {
  width: 150px;
}
