@font-face {
  font-family: Plantagenet;
  src: url("./fonts/plantc.ttf");
}
.font-plantc {
  font-family: Plantagenet;
}
.imageflip_c {
  position: absolute;
  will-change: transform, opacity;
  height: 350px;
  width: 150px;
}

.imageflip_front,
.imageflip_back {
  background-size: cover;
}
.imageflip_wrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
}
#image-flip-wrapper :nth-child(n) {
  animation: imageFadeUp ease-in-out 2s;
  animation-fill-mode: forwards;
}

@keyframes imageFadeUp {
  0% {
    /* margin-top: 200px; */
    /* transform: translateY(50px); */
  }
}
.imageflip_container {
  height: 350px;
  width: 150px;
}

@media (max-width: 376px) {
  .imageflip_container,
  .imageflip_c {
    height: 300px;
    width: 140px;
  }
}
/* testimonial card animation */
#testimonial-card {
  transition-property: all;
  transition-duration: 1s;
  /* animation: popout ease-in 800ms; */
  border-radius: 5px;
}
@keyframes popout {
  0% {
    box-shadow: none;
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
    box-shadow: 6px 6px 10px #c7c7c7, -6px -6px 10px #c7c7c7,
      -6px 6px 10px #c7c7c7, 6px -6px 10px #c7c7c7;
  }
  100% {
    transform: scale(0.98);
    box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #c7c7c7,
      -5px 5px 10px #c7c7c7, 5px -5px 10px #c7c7c7;
  }
}

/* testimonial navigation buttons */
.swiper-button-next,
.swiper-button-previous,
.swiper-button-prev {
  color: yellow;
}
