/* For mobile displays */
.arrw {
  width: 50px !important;
  height: 40px !important;
}
@media (max-width: 767px) {
  .teamImage {
    height: 550px !important;
  }
}
@media (max-width: 400px) {
  .teamImage {
    height: 400px !important;
  }
}
