/* Yellow Hex: ffd805 */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
  transition: all 1000ms;
  /* overflow-y: hidden; */
}

/* Hides Scroll arrows in Number type inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/*Hides the blue highlight on mobile devices*/
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
