/* Yellow Hex: ffd805 */

/* fonts */
.plantagenet-cherokee {
  /* font-family: ''; */
}
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
  /* overflow-y: hidden; */
}

/* Hides Scroll arrows in Number type inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* .scroll-snap-container {
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-snap-type: y proximity;
  -ms-scroll-snap-type: y proximity;
  max-height: 100vh;
}
.proximity-snap {
  scroll-snap-align: start;
  min-height: 100vh;
} */
